ion-col {
  display: flex;
}

ion-card {
  margin: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

ion-card-header {
  min-height: 60px;
  display: flex;
  align-items: center;
}

ion-card-content {
  display: flex;
  flex-direction: column;
}

.gallery-media {
  width: 100% !important;
  height: 300px !important;
  object-fit: cover !important;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: block;
}

ion-card-content p {
  min-height: 60px;
}

ion-card-title {
  font-weight: bold;
  color: var(--ion-color-primary);
}

