.audio-guide-card {
  margin-bottom: 16px;
}

.audio-controls-simple {
  margin-bottom: 16px;
}

.play-button-simple {
  --padding-top: 16px;
  --padding-bottom: 16px;
  font-weight: 600;
  font-size: 16px;
}

.audio-info {
  margin-top: 16px;
  padding-top: 16px;
  border-top: 1px solid var(--ion-color-light);
}

.audio-info p {
  margin: 0;
  color: var(--ion-color-medium);
  line-height: 1.6;
}

